<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section class="lonig">
        <section class="login__container">
            <h2>Inicia sesion</h2>
            <form action="" class="login_container">
                <input class="input" type="text" placeholder="Correo">
                <input class="input" type="text" placeholder="Contrase;a">
                <button class="button">Iniciar sesion</button>
                <div class="login__container--remember-me">
                    <label>
                        <input type="checkbox" name="" id="cbox1" value=" checkbos">
                    </label>
                    <a href="/">Olvide mi contrase:</a>
                </div>
            </form>
            <section class="login__container--social--media">
                <div><img src="" alt="Google">Inisia sesion con Google</div>
                <div><img src="" alt="Twitter">Inisia sesion con twitter</div>
            </section>
            <p class="login__container--register">No tienes ninguna cuenta <a href="/">Registrate</a></p>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Terminos de uso</a>
        <a href="/">Declaraion de privacidad</a>
        <a href="/">Centro de ayuda</a>
    </footer>
</body>
</html>